@font-face {
    font-family: "SourceSansProRegular";
    src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot");
    src: url("../fonts/SourceSansProRegular/SourceSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SourceSansProRegular/SourceSansProRegular.woff") format("woff"),
    url("../fonts/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SourceSansProLight";
    src: url("../fonts/SourceSansProLight/SourceSansProLight.eot");
    src: url("../fonts/SourceSansProLight/SourceSansProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SourceSansProLight/SourceSansProLight.woff") format("woff"),
    url("../fonts/SourceSansProLight/SourceSansProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "SourceSansProBold";
    src: url("../fonts/SourceSansProBold/SourceSansProBold.eot");
    src: url("../fonts/SourceSansProBold/SourceSansProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/SourceSansProBold/SourceSansProBold.woff") format("woff"),
    url("../fonts/SourceSansProBold/SourceSansProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'SourceSansProRegular', sans-serif, Arial;
}

body a {
    color: #222;
}

header {
    width: 100%;
    height: 100vh;
    background: #fcdb00;
    color: #222;
}

.content-height {
    height: 100vh;
}

.content-width {
    width: 940px;
    margin: auto;
}

.top-header{
    width: 940px;
    height: 50px;
    padding-top: 35px;
}

.top-header > div {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.menu {
    width: 19px;
    height: 16px;
    margin-right: 358px;
}

.menu-img {
    display: block;
    width: 19px;
    height: 16px;
    text-decoration: none;
}


.logo-block {
    width: 160px;
    height: 43px;
    margin-right: 259px;
}

.logo {
    width: 160px;
    height: 43px;
    text-decoration: none;
}

.logo img, .logo-txt {
    float: left;
}

.logo-txt {
    width: 101px;
    height: 28px;
    display: block;
    font-size: 30px;
    font-weight: 700;
    margin-left: 10px;
}

.social-content {
    width: 135px;
    height: 30px;
}

.social-content > a {
    margin-right: 15px;
}

.social-content > a:last-child {
    margin-right: 0;
}

.cover {
    width: 502px;
    height: 450px;
    margin: auto;
    margin-top: 27vh;
}

.txt-content {
    width: 502px;
    height: 138px;
    margin-bottom: 10vh;
}

.main-txt {
    text-align: center;
    width: 502px;
    height: 45px;
    font-size: 48px;
    font-weight: 700;
}

.sub-header {
    width: 502px;
    height: 67px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.btn-head-block {
    width: 256px;
    height: 56px;
    margin: auto;
}

.get-start {
    width: 256px;
    height: 56px;
    background: #fcdb00;
    border: 2px solid black;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    display: table;
    text-align: center;
}

.get-start > span {
    display: table-cell;
    vertical-align: middle;
}

.scroll {
    width: 100%;
    height: 32px;
    position: absolute;
    left: 0;
    bottom: 42px;
    text-align: center;
}

.content {
    width: 100%;
}

.featured-grid {
    height: 500px;
    width: 100%;
    margin: 112px 0;
}

.content-head-txt{
    width: 100%;
    height: 30px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 20px;
}

.under-txt {
    width: 714px;
    height: 43px;
    color: #898989;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 80px;
    margin: auto;
}

.features-block {
    width: 100%;
    height: 325px;
}

.feature-row:first-child {
    margin-bottom: 80px;
}

.feature-row {
    width: 100%;
    height: 120px;
}

.feature-row > div {
    display: inline-block;
}

.feature-element {
    width: 275px;
    height: 120px;
    margin-right: 50px;
}

.feature-element:nth-child(3n) {
    margin-right: 0;
}

.feature-element > div {
    display: inline-block;
    vertical-align: top;
}

.img-block {
    width: 33px;
    height: 40px;
    margin-right: 30px;
}

.txt-feature-block {
    width: 200px;
    height: 120px;
}

.block-row-header-txt {
    width: 199px;
    height: 21px;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.block-row-txt {
    width: 199px;
    height: 76px;
    color: #898989;
    font-size: 16px;
    font-weight: 400;
}

.pricing {
    width: 100%;
    height: 570px;
    margin-bottom: 112px;
}

.table {
    width: 700px;
    height: 400px;
    margin: auto;
}

.table> div {
    display: inline-block;
    margin-right: 57px;
}

.table > div:last-child {
    margin-right: 0;
}

.column {
    width: 172px;
    height: 400px;
}

.img-circle {
    width: 100px;
    height: 100px;
    background: #ebebeb;
    border-radius: 100px;
    margin: auto;
    text-align: center;
    margin-bottom: 25px;
}

.black-circle {
    background: #010101;
}

.circle-cont {
    height: 38px;
    width: 31px;
    padding-top: 31px; 
}

.center-align-h, .center-align-p {
    text-align: center;
    width: 172px !important;
    height: 38px !important; 
}

.center-align-p {
    font-size: 14px;
}

.price-txt {
    width: 172px;
    height: 28px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 0;
    position: relative;
    margin-bottom: 22px;
}

.price-txt:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 2px;
    background: #010101;
    display: block;
    left: 62px;
    top: 42px;
}

.price-btn {
    width: 140px;
    height: 47px;
    margin: auto;
    background: white;
    border: 2px solid #010101;
    display: table;
    text-decoration: none;
    text-align: center;
}

.txt-btn-price {
    vertical-align: middle;
    display: table-cell;
    height: 12px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.portfolio-grid {
    width: 100%;
    height: 800px;
    margin-bottom: 112px;
}

.portfolio {
    height: 640px;
    width: 100%;
}

.portfolio-row {
    height: 290px;
    width: 100%;
    margin-bottom: 65px;
}

.portfolio-element {
    width: 220px;
    height: 290px;
    margin-right: 10px;
    float: left;
}

.portfolio-element:nth-element(4n) {
    margin-right: 0;
}

.img-port {
    width: 220px;
    height: 220px;
    display: block;
    text-decoration: none;
    position: relative;
}

.img-port > img {
    width: 220px;
    height: 220px;
    position: absolute;
}

.img-port > span {
    position: absolute;
}

.look-eye {
    position: absolute;
    width: 200px;
    height: 20px;
    margin: 190px 10px 10px 10px;
}

.look-eye > span {
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.look {
    width: 21px;
    height: 20px;
    position: relative;
    bottom: 3px;
    left: 2px;
}

.time-port {
    width: 51px;
    height: 13px;    
    position: relative;
    right: 2px;
    bottom: 5px;
    margin-left: 75px;
}

.eye, .clock {
    position: relative;
}

.port-head-center {
    width: 196px;
    height: 21px;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    font-size: 22px;
}

.port-txt-center {
    width: 176px;
    height: 15px;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}

